<?xml version='1.0' encoding='utf-8'?>
<widget id="com.oxfordvocabquiz.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>OxfordVocabQuiz</name>
    <description>Learn English-Turkish vocabulary with the Oxford 3000 and 5000 word lists</description>
    <author email="support@oxfordvocabquiz.com" href="https://oxfordvocabquiz.com">
        OxfordVocabQuiz Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon src="img/icon-192x192.png" density="xxxhdpi" />
        <icon src="img/icon-144x144.png" density="xxhdpi" />
        <icon src="img/icon-96x96.png" density="xhdpi" />
        <icon src="img/icon-72x72.png" density="hdpi" />
        <icon src="img/icon-48x48.png" density="mdpi" />
        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="img/icon-192x192.png" />
    </platform>
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="cordova-plugin-device" spec="2.0.3" />
    <plugin name="cordova-plugin-media" spec="5.0.3" />
    <plugin name="cordova-plugin-network-information" spec="2.0.2" />
</widget>
